html
    body
        .row
            .col-lg-12
                .wrapper.wrapper-content
                    .middle-box.text-center.animated.fadeInRightBig
                        h3.font-bold 您已经退出系统！
